html {
  font-size: 15px;
}

:root {
  --primary-clr: hsl(220, 15%, 55%);
  --secondary-clr-light: hsl(212, 45%, 89%);
  --secondary-clr-dark: hsl(218, 44%, 22%);
  
  --fw-m: 400;
  --fw-b: 700;
  
  --ff: "Outfit", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--ff);
  background-color: var(--secondary-clr-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--secondary-clr-dark);
  font-weight: var(--fw-b);
}

p {
  text-align: center;
  font-weight: var(--fw-m);
  color: var(--primary-clr)
}

.container {
    width: 300px;
    padding: 1em;
    background-color: white;
    border-radius: 20px;
    margin-top: auto;
    box-shadow: 0 10px 12px 1px  hsl(220, 15%, 55%, .3);
}

.text-container {
  padding: 1.25em;
}

.qr-img {
  width: 100%;
  border-radius: 10px;
}

footer {
  margin-top: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* @media (min-width: 1000px ) {
  h1 {
    font-size: 1.75rem;
  }
  
  .container {
    width: 375px;
  }
} */